* {
  margin: auto;
  padding: auto;

}


body {
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;

}

.card {
  background-color: hsla(60, 4%, 5%, 0.568);
  padding: 25px;
}


.form-select {

  width: 550px;
  text-align: center;
  margin: auto;
}

#myVideo {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;

}