*{
  margin:auto;
  padding: auto;
  
}

.bg-image{
 
  background-size: cover;
  background-image: url('../images/jennifer-rogalla-HleqO6kuL9c-unsplash.jpg');
  position: fixed;
  height:100%; width: 100%;
  top:0;
  left:0;
  z-index: -1000;
}

body{
  font-family: 'Merriweather', serif;
 font-family: 'Poppins', sans-serif;
 
 }

 .card{
  background-color: rgba(34, 33, 31, 0.334);
  padding: 25px;
 }


 .form-select{

  width: 550px;
  text-align: center;
  margin: auto;
  }

  